<!DOCTYPE html>
<html>
  <head>
    <title>MediaRecorder API - Sample</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="WebRTC getUserMedia MediaRecorder API" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="/server/static/css/style.css" />
  </head>
  <body>
    <div class="main-container">
      <h1 class="title">Talk to Assistant</h1>
      <p>Hold space to talk to the Assistant</p>
      <div class="answer"></div>
      <div class="speak-indicator"></div>
    </div>
    <script src="/js/index.js" defer></script>
    <script src="/server/static/js/index.js" defer></script>
  </body>
</html>
